body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 124px;
    align-items: center;
    color: white;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 24px;
    padding-right: 124px;
    list-style: none;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: gray;
}

.part1 {
    background-color: #1f2937;
    display: flex;
    padding: 96px;
}

.left {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 24px;
}

.header1 {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.paragraph1 {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: white;
    background-color: #3882f6;
    padding: 4px 24px;
    border-radius: 24px;
    height: 32px;
    
}

.right {
    height: 200px;
    width: 500px;
    background-color: gray;
    margin-left: 190px;
}

.part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
    gap: 50px;
}

.header2 {
    font-size: 36px;
    font-weight: 900;

}

.container2 {
    display: flex;
    margin-left: 148px;
    margin-right: 148px;
    gap: 24px;
}

.info {
    display: flex;
    flex-direction: column;
}

img {
    width: 150px;
    height: 150px;
}

.part3 {
    background-color: #e5e7eb;
    padding: 96px 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.person {
    padding-left: 900px;
    font-weight: bold;
    font-size: 24px;
}

.part4 {
    padding: 96px 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.textbox {
    width: 80%;
    height: 148px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 12px;
    border-radius: 24px;
}

.header4 {
    font-size: 24px;
}

.text4 {
    font-weight: lighter;
}

.button4 {
    border-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: gray;
    font-weight: lighter;
    padding: 20px;
}